* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bitter", serif;
}

a.router-link-active {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.b-toaster-leave-active {
  width: 100%;
}

.b-toast-success {
  .toast {
    background-color: rgba(
      $color: $color-yellow--origin,
      $alpha: 0.8
    ) !important;
    color: inherit;
  }
}
