.gratitude-wrapper {
  max-width: 700px;
  margin: auto;
  padding: 0 16px 32px 16px;
  &__title-main {
    display: flex;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    padding: 24px;
    span {
      margin: 0 8px;
    }
    b {
      height: 2px;
      width: 100%;
      opacity: 0.1;
      flex: 1;
      background-color: currentColor;
    }
  }
}

@media (max-width: 576px) {
  .checkout-wrapper {
    &__action {
      position: fixed;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-color: $color-white--one;
      padding: 16px 0;
      bottom: 0;
      left: 0;
      right: 0;
      gap: 0;
    }
  }
}
