.table-container {
  table {
    th {
      border-top: none;
      border-bottom: none;
    }
  }
}

@media (max-width: 576px) {
  .table-container {
    table {
      td {
        padding: 0.5rem;
      }
    }
  }
}
